body {
    background-color: yellow;
}

.main-section {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-heading {
    margin-bottom: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
}



video {
    border-radius: 10px;
}

video::cue(v[voice="porky"]) {
  color: rgb(235, 111, 132);
}

video::cue(v[voice="bugs"]) {
    color: rgb(167, 172, 177);
  }

  video::cue(v[voice="daffy"]) {
    color: rgb(224, 139, 42);
  }

